* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  padding: 0 5vw;
}

h1 {
  margin-bottom: 5vh;
  font-size: 5vw;
}

#countdown ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

#countdown li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2vw;
  font-size: 4vw;
}

#countdown span {
  font-size: 6vw;
  font-weight: bold;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  #countdown li {
    font-size: 2rem;
  }

  #countdown span {
    font-size: 3rem;
  }
}